<div class="container">
<p>wargames</p>

<!-- <h4>Bandit</h4>
<ul>
{% for post in site.posts %}

  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}

</ul> -->
<!-- Display only bandit posts -->

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    bandit
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    {% for post in site.categories.bandit %}
     <li> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<!-- add drop down for natas category -->
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            natas
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for post in site.categories.natas %}
             <li> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

</div>
